<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam Hewitt</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Mulish:wght@200&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- MDB -->

</head>
<body>

    <div class="inner-content">
    
        <nav class="main-nav">
            <ul>
                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                {% for p in navigation_pages %}
                    {% if p.navigation_weight %}
                        <li>
                            <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                                {{ p.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div class="banner-container">
        <div class="content editable">
            <h1 class="banner-text-heading"><br /><br />Sam Hewitt Web Development<br /><br />Your solution for fast, affordable websites</h1>
            <h2 class="banner-text">&nbsp;</h2>
            <p><img class="banner" src="/images/banner4.png" width="1366" height="536" /></p>
        </div>
    </div>
<!-- <section class="sidebar">
    <div class="content editable">
        <div><img class="sitePic" src="/images/me.png" /></div>
    </div>
    <div class="sidebar-text">
    <strong>{{site.data.site-name.name}}
    </div>
 -->

<div class="content">

    {{ content }}
</div>
  {% include footer.html %}

</body>
</html>
