<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Hewitt</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

<!-- social media style -->

</head>
<body>
    <section class="sidebar">
        <div><img src="/images/me.png" class="sitePic"></div>
        <div class="sidebar-text">
        <strong>Sam Hewitt</strong>
        <h4>A web developer with a passion for excellence</h4>
        </div>
        <div>
        </div>
          </section>

    </section>
    <div class="container">
        <nav class="main-nav">
            <ul>
                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                {% for p in navigation_pages %}
                    {% if p.navigation_weight %}
                        <li>
                            <a href="{{ p.url }}"{% if p.url == page.url %}class="active"{% endif %}>
                                {{ p.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
<div class="content">
    {{ content }}
</div>
  {% include footer.html %}
</body>
</html>