 <h1 class="what-i-do-title"> What I do</h1>
 
 <p class="what-i-do">I provide focused web design  services to help your business succeed online. 
    I utilize CloudCannon to make it easy for you to manage your website's content. 
    My web designs are mobile friendly to make sure your customers
    will be able to properly view your site online on any device.
</p>

<img src="./images/ccannon.jpg" class="what-i-do-img">

<!-- <a href="./about.html" class="button"><span>View services</span></a>  -->
<br>
