---
layout: default
title: Home
navigation_weight: 1
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">

<h1 class="portfolio-text">Featured Projects</h1>

{% include portfolio-content.html %}
<!-- MDBootstrap navbar 
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav> -->

<!-- <div class="blogDiv">
<section class="homeBlog">
    <ul>
    {% for post in site.posts %}
    <br />
    <li><h2>{{post.title}}</h2>
    <img src="{{post.image}}" class="postImage" />
    <h4>{{post.date}}</h4>
    <p class="excerptClass">{{post.excerpt | truncate: 200}}</p>
    <a href="{{ post.url }}" class="button"><span>Read more</span></a> 
    </li>
    <hr class="blog-hr" />
    <br />
    {% endfor %}    
    </ul>
</section>    
</div> -->

<!-- <html>
<body>

<h1>My first SVG</h1>

<svg width="100" height="100">
  <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
</svg>

</body>
</html> -->

<!-- <svg width="400" height="400"
  xmlns="http://www.w3.org/2000/svg">
  <image href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="400" width="400"/>
</svg> -->

{% include buttons.html %}

<!-- <img src="./images/Test.svg" class="my-SVG"/> -->

