nav.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
    float: right;
    background-color: #05386B;
}

nav.main-nav li,
nav.main-nav a {
	display: inline-block;
}

nav.main-nav li a {
	padding: 10px;
}

a.active {
    color: #FFE000;
  }

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #575757;
    background-color: #379683;
    font-family: 'JetBrains Mono', monospace;
    
}  

a {
	color: #EDF5E1;
}