nav.main-nav ul {
	margin: 20;
	padding: 20;
	list-style: none;
    float: center;
    color: #000000;
    background-color: #ffffff;
}

nav.main-nav li,
nav.main-nav a {
	display: inline-block;
}

nav.main-nav li a {
	padding: 10px;
}

a.active {
    color: #000000;
  }

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    background-color: #494949;
    font-family: 'JetBrains Mono', monospace;
    
}  

a {
	color: #3d89d4;
}

h1 {
    
}

div.container,
div.small-container {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

div.small-container {
    max-width: 700px;
  }

  ul {
    list-style-type: none;
  }